# =========================
# Security & Secrets
# =========================
.env
.env.*
secrets.json
*.pem

# =========================
# Python / FastAPI
# =========================
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/venv/
**/env/
**/.pytest_cache/
**/.python-version
requirements.txt.log

# =========================
# Flutter / Dart
# =========================
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/ios/Pods/
**/ios/.generated/
**/android/app/src/main/res/raw/
**/*.symbols
**/*.pks

# =========================
# Database
# =========================
*.db
*.sqlite3
**/data/pgdata/

# =========================
# IDEs & OS
# =========================
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db