# --- Security & Secrets ---
backend/.env
backend/serviceAccountKey.json

# --- Python Virtual Environment ---
backend/venv/
venv/

# --- Python Cache (Hidden system files) ---
backend/__pycache__/
*.pyc